@import url('https://fonts.googleapis.com/css?family=Nunito:300,600&display=swap&subset=latin-ext,vietnamese');

:root {
  --white: #FFFFFF;
  --blue: #211CC0;
  --yellow: #FFCD42;
}

body {
  margin: 0;
  background-color: var(--blue);
  color: var(--white);
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 32px;
  line-height: 1.3em;
}

h1 {
  font-family: inherit;
  font-size: 1.75em;
}

a {
  color: var(--white);
  font-weight: bold;
  text-decoration: none;
  position: relative;
  background-repeat:repeat-x;
  background-size: 16px 4px;
  background-position: left bottom;
  background-image:
    linear-gradient(45deg, transparent 65%, var(--yellow) 80%, transparent 90%),
    linear-gradient(135deg, transparent 5%, var(--yellow) 15%, transparent 25%),
    linear-gradient(135deg, transparent 45%, var(--yellow) 55%, transparent 65%),
    linear-gradient(45deg, transparent 25%, var(--yellow) 35%, transparent 50%);
}

a:hover {
	animation: animatedBackground 1s linear infinite;
}

@keyframes animatedBackground {
	from { background-position: left bottom; }
	to { background-position: -32px bottom; }
}
